* {
  outline: 0;
}

.topicButton {
  float: right;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.topicButton:hover,
.topicButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.topicButton:hover {
  transform: translateY(-1px);
}

.topicButton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.topicSubmission {
  padding: 0 calc((100% - 731px) / 2);
}

.topicTitle {
  border: none;
  background-color: none;
  outline: 0;
  font-size: 25px;
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}

.topicTitle::placeholder {
  color: lightgrey;
}

.topicHeader {
  border: none;
  background-color: none;
  outline: 0;
  font-size: 20px;
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
}

.topicHeader::placeholder {
  color: lightgrey;
}

.topicDescription {
  border: none;
  background-color: none;
  outline: 0;
  font-size: 15px;
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
}

.topicDescription::placeholder {
  color: lightgrey;
}

/* .topicTitle input[type="text"] {
  border: none;
  background-color: none;
  outline: 0;
  width: 300px;
  height: 30px;
} */

/* 
input[type="text"] {
  border: none;
  background-color: none;
  outline: 0;
  font-size: 20px;
  width: 300px;
  height: 30px;
} */

input[type="text"]:focus {
  border: none;
  background-color: none;
  outline: 0;
  width: 300px;
  height: 30px;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
